.text1 {
  margin-top: 5%;
  text-align: center;
  color: #664fcd;
}

.text2 {
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.text3 {
  margin-left: 1%;
  margin-top: 5%;
  color: #664fcd;
}

.text4 {
  margin-left: 1%;
  font-size: x-large;
  font-weight: 700;
}

.card {
  margin-top: 10%;
}

.search {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 360px;
  height: 44px;
  margin: 0 40px;
}

.qw {
  position: absolute;
  width: 480px;
  height: 395px;
  top: 15%;
  left: 50%;
  margin: 0;
}

header {
  z-index: 1;
  background-color: #fff;
  display: block;
  top: 0;
  position: sticky;
  margin: 0;
}

header a {
  color: #101828;
  font-size: 16px;
  line-height: 24px;
}

header .highlighted {
  display: flex;
  width: fit-content;
  border: 3px solid rgba(127, 86, 217, 0.2);
  border-radius: 12px;
  overflow: hidden;
}

header .highlighted a {
  background-color: #3C6255;
  color: #fff;
  padding: 8px 15px;
}

header .general-links {
  margin-right: 75px;
}

header .general-links a {
  margin-right: 25px;
}

header .general-links a:last-child {
  margin-right: 0;
}

header a.sign-in-link {
  margin-right: 20px;
}

.collaborators .info b {
  color: #3C6255;
  font-size: 25px;
}

.collaborators .info span {
  font-size: 20px;
  margin-right: 120px;
}

.collaborators .company-icons img {
  margin-right: 120px;
}

header,
header .general-links,
header nav,
.collaborators,
.collaborators .company-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  justify-content: space-between;
  height: 100px;
}

.title .main-text span b {
  color: #3C6255;
}

.title .main-text {
  font-size: 60px;
  font-family: stylesheet;
}

.title .subtitle span {
  color: #3C6255;
}

.title .buttons a {
  background-color: #3C6255;
  color: #fff;
  padding: 8px 15px;
  border-radius: 12px;
}

.title .buttons .b {
  background-color: #8cbead;
  color: #fff;
  padding: 8px 15px;
  border-radius: 12px;
}

.title .icons img {
  width: 20px;
  height: 20px;
}

.title .icons b {
  font-size: 13px;
  color: #3C6255;
  margin-right: 30px;
}

.title {
  margin-top: 3%;
}
